.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: white;
}

.responsive-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.text-wrapper h1{
    position: relative;
    font-size: 45px;
    top: -150px;
    text-transform: uppercase;
}

.text-wrapper p{
    position: relative;
    top: -130px;
}

.text-wrapper button{
    position: relative;
    top: -100px;
    background: linear-gradient(45deg,white 50%,rgb(104, 184, 255) 50%);
    background-size: 400px;
    transition: all 0.5s ease;
}

.text-wrapper button:hover{
    background-position: right;
}